@page "/homepage"
@using Store.Blazor.Models
@using Store.Blazor.Models.Books
@using Store.Blazor.Services.Interfaces
@inject IBookService bookService


<h3>HomePage</h3>

@if (Books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var book in Books)
        {
            <li>@nameof(book.Id): @book.Id</li>
            <li>@nameof(book.Title): @book.Title</li>
            <li>@nameof(book.Description): @book.Description</li>
            <li>@nameof(book.Price): @book.Price</li>
            <li>@nameof(book.DateOfPublication): @book.DateOfPublication</li>
            <li>@nameof(book.Authors):</li>
            <ul>
            @foreach (var author in book.Authors)
            {
                if(author.Id != 0)
                {
                    <li>@nameof(author.Id): @author.Id</li>
                    <li>@nameof(author.FirstName): @author.FirstName</li>
                    <li>@nameof(author.LastName): @author.LastName</li>
                        <li>@nameof(author.Biography): @author.Biography</li>
                }
            }
            </ul>
            <li>@nameof(book.Categories):</li>
            <ul>
            @foreach (var category in book.Categories)
            {
                if (category.Id != 0)
                {
                        <li>@nameof(category.Id): @category.Id</li>
                        <li>@nameof(category.Name): @category.Name</li>
                }
            }
            </ul>
            <p></p>
        }
    </ul>
}

@code {
    private IEnumerable<BookModel> Books;

    protected override async Task OnInitializedAsync()
    {
        Books = await bookService.GetAsync();
    }
}